/Created
/Created - copia
/Created_back
/Data
/getRoomTemplates.py.bak
/mixed
/mixed.zip
/mixed_old
/Original
/OriginalExcluded
/script.lua
/script.lua.bak
/Set
/solveTC_out
/solveTileCodes - copia.py
/solveTileCodes.py.bak
/Templates
/TEMPLATES_GENERATED.txt
/Untitled-1.json